body{
    font-family:'poppins',sans-serif;
    margin: 0%;
}
.name{
    color: orange;
    font-size: 50px;


}
.time{
    color: orange;
}
.flexible-conatiner{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 85%;
    
}
.link-button{
    text-decoration: none;
    background-color: rgb(248, 127, 106);
    color: white;
    font-weight: 550;
     padding: 15px 40px;
    border-radius: 8%;
    
}
.Top{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-box{
width: 40%;
background-color: gainsboro;
  box-shadow: 5px 5px 5px 5px gray;
  margin-left: 25px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 8px;
  border-left: 10px solid black;
}
h2{
    font-size: 30px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}